.form-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.submit-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 90px;
    border-radius: 8px;
    border: 1px solid #5EB435;
    background-color: #5EB435;
    color: #fff;
    cursor: pointer;
    &:hover{
        background-color: #4A8C2D;
        transition: 200ms ease-in-out;
    }
}

.cancel-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 90px;
    border-radius: 8px;
    border: 1px solid #cecece;
    background-color: #cecece;
    color: #fff;
    cursor: pointer;
    &:hover{
        background-color: #b3b3b3;
        transition: 200ms ease-in-out;
    }
}