.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    background-color: #f5f5f5;
}

.image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    height: 100%;
    padding: 16px;
    gap: 8px;
    color: #321A4B;
}

.service-title{
    font-size: 24px;
    font-weight: 700;
}

.service-sale{
    font-size: 16px;
    font-weight: 400;
    color: #321A4B;
    text-decoration: line-through;
}

.service-price{
    font-size: 18px;
    font-weight: 500;
    color: #5EB435;
}

.service-description{
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

.service-actions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.service-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 40px;
    background-color: #5EB435;
    border: 1px solid #5EB435;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    gap: 8px;

    &:hover{
        background-color: #fff;
        color: #5EB435;
        transition: 200ms ease-in-out;
    }
}